<div class="container-custom box-shadow">
	<ul>
		<% @cart.get_products_quant.each do |product,quant|%>
			<li class="cart-product group">
				<span class="image">
					<img src=" <%=product.image%> " alt="image">
				</span>
				<span class="name">
					<em>Name:</em>	<%=product.name%>
				</span>				
				<span class="price">
					<em>Price:</em> <%=product.price%>
				</span>	
				<span class="quant">
					<em>Quantity ordered:</em> <%=quant%>
				</span>
			</li>
		<%end%>
		<div class="center-price-tag">
			
			<li class="total-price-tag">
				<em>Total Price:</em> <%= @cart.total_price%>  
			</li>
		</div>
	</ul>
</div