<div class="thum-container box-shadow">	
	<%= will_paginate @products,class:"custom-pagination group"%>
        <!-- <div class="container group"> -->
	<ul class="group">
		<%	@products.each do |product| %>		
		<li class="thum">
			<%= link_to '',product_path(product),class:'thum-link' %>
			<div class="product-image">
				<img src="<%= product.image %>" alt="">
			</div>
				<div class="product-details">
				<h4><%= product.name %></h4>
				<h5 class="price-block">
					<a href="#">
						<%= product.price %> $
					</a>
				</h5>
			</div>
			
		</li>
		<% end %>
	</ul>
	<%= will_paginate @products ,class:"custom-pagination group"%>
</div>
<div class="box-shadow filter-container">

		<div class="nav-side-menu">
		  <div class="brand">Customize Your Search</div>
		  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		  <%=form_for 'filter',url:filter_path,class:'check_boxes',method:'GET' do |f|%>
			<%= hidden_field_tag "filter[sub_category][]", nil %>
			<%= hidden_field_tag 'filter[category]',@category %>
			<div class="menu-list">
	      <ul id="menu-content" class="menu-content collapse out">
	        <li data-toggle="collapse" data-target="#sub-cate" class="collapsed">Sub Categories</li>
	        <ul class="sub-menu collapse" id="sub-cate">
					<%Product.sub_categories(@category.to_sym).each do |cate|%>
							<li class="active">		
								<%=check_box_tag('filter[sub_category][]',cate,false) %>
								<%=label_tag cate %>
	          	</li>

					<%end%>
	        </ul>
	        <li data-toggle="collapse" data-target="#price" class="collapsed">Price</li>
		        <ul class="sub-menu collapse" id="price">
							<li>
								<%=radio_button_tag 'filter[price]','0,300' %>
								<%=label_tag " < 300" %>
							</li>
							<li>
								<%=radio_button_tag 'filter[price]','300,500' %>
								<%=label_tag "300-500" %>
							</li>
							<li>
								<%=radio_button_tag 'filter[price]','500,700' %>
								<%=label_tag "500-700" %>
							</li>
							<li>
								<%=radio_button_tag 'filter[price]','700,0' %>
								<%=label_tag " > 700" %>
							</li>
		        </ul>
	      <%=f.submit "Filter",class:'custom-btn'%>
	      </ul>
			</div>
			<%end%>
		</div>
</div>